---
http_interactions:
- request:
    method: put
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/other/bar
    body:
      encoding: UTF-8
      string: bar
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Storage-Class:
      - STANDARD
      Content-Type:
      - application/octet-stream
      Content-Md5:
      - N7UdGUp1E+RbVvZSTy1R8g==
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:otoyWlTFVrtqX1c+f+9dhURnXTQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 12EF462DC17AE60D
      Etag:
      - '"37b51d194a7513e45b56f6524f2d51f2"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Feb 2015 05:33:10 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/foo/bar
    body:
      encoding: UTF-8
      string: bar
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Storage-Class:
      - STANDARD
      Content-Type:
      - application/octet-stream
      Content-Md5:
      - N7UdGUp1E+RbVvZSTy1R8g==
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:BgaDrXq33tmfqcEsIfnkEclXm9k=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - EA2B758A6EE9EB13
      Etag:
      - '"37b51d194a7513e45b56f6524f2d51f2"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Feb 2015 05:33:10 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:m5Vs2OFN1BBRBWpHuWbRuS8Zvpc=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 512DECCADABCFDC4
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jma-2014-test-bucket</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>foo/bar</Key><LastModified>2015-02-05T05:33:13.000Z</LastModified><ETag>&quot;37b51d194a7513e45b56f6524f2d51f2&quot;</ETag><Size>3</Size><Owner><ID>5d307ea628ee26d90fe9b4b8500d17671fd927387d7d746ba636af2808b85e6a</ID><DisplayName>jma</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>other/bar</Key><LastModified>2015-02-05T05:33:12.000Z</LastModified><ETag>&quot;37b51d194a7513e45b56f6524f2d51f2&quot;</ETag><Size>3</Size><Owner><ID>5d307ea628ee26d90fe9b4b8500d17671fd927387d7d746ba636af2808b85e6a</ID><DisplayName>jma</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Thu, 05 Feb 2015 05:33:10 GMT
[...]
- request:
    method: delete
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/foo/bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:VjH3wmbd3Ztu8koH8D6s9hgMjJ0=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - A56B0FF335F44668
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Feb 2015 05:33:10 GMT
recorded_with: VCR 2.9.3
