---
http_interactions:
- request:
    method: put
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/other/bar
    body:
      encoding: UTF-8
      string: bar
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Storage-Class:
      - STANDARD
      Content-Type:
      - application/octet-stream
      Content-Md5:
      - N7UdGUp1E+RbVvZSTy1R8g==
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:YPVKeMFUCwCUPnfItNUf7IQCI0E=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 45D50F0FD481AD6B
      Etag:
      - '"37b51d194a7513e45b56f6524f2d51f2"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Nov 2014 05:51:19 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/foo/bar
    body:
      encoding: UTF-8
      string: bar
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Storage-Class:
      - STANDARD
      Content-Type:
      - application/octet-stream
      Content-Md5:
      - N7UdGUp1E+RbVvZSTy1R8g==
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:UDy0jS3bhBI8MtXR17Hz2zwJfXA=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - F695B0DA2108C9A6
      Etag:
      - '"37b51d194a7513e45b56f6524f2d51f2"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Nov 2014 05:51:19 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/foo/baz
    body:
      encoding: UTF-8
      string: baz
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Storage-Class:
      - STANDARD
      Content-Type:
      - application/octet-stream
      Content-Md5:
      - c/7/pLf2u2jkTPmEyF9uiA==
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:yeDNIes1AETpB70uPpN+QkEFK/c=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 13519A8721498C24
      Etag:
      - '"73feffa4b7f6bb68e44cf984c85f6e88"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Nov 2014 05:51:19 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/?prefix=foo/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:qriqUriOjBVlpEGibmxSWIPzbQE=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 8D75F2A7DC47E93A
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jma-2014-test-bucket</Name><Prefix>foo/</Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>foo/bar</Key><LastModified>2014-11-06T05:49:41.000Z</LastModified><ETag>&quot;37b51d194a7513e45b56f6524f2d51f2&quot;</ETag><Size>3</Size><Owner><ID>5d307ea628ee26d90fe9b4b8500d17671fd927387d7d746ba636af2808b85e6a</ID><DisplayName>jma</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>foo/baz</Key><LastModified>2014-11-06T05:49:42.000Z</LastModified><ETag>&quot;73feffa4b7f6bb68e44cf984c85f6e88&quot;</ETag><Size>3</Size><Owner><ID>5d307ea628ee26d90fe9b4b8500d17671fd927387d7d746ba636af2808b85e6a</ID><DisplayName>jma</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Thu, 06 Nov 2014 05:51:19 GMT
[...]
- request:
    method: delete
    uri: https://s3.amazonaws.com/jma-2014-test-bucket/foo/baz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AWS AKIAICVNTIM4AWNLWR4Q:rEP0FtX3y3Ipjj/gIOjUp9K1VSI=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 5BAD8CF854E442B8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Nov 2014 05:51:19 GMT
recorded_with: VCR 2.9.3
